<div>
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>1111</mat-grid-tile>
        <mat-grid-tile>2222</mat-grid-tile>
        <mat-grid-tile>3333</mat-grid-tile>
        <mat-grid-tile>4444</mat-grid-tile>
    </mat-grid-list>
</div>  